$black-a: #0e0c0f;
$black-b: #191816;
$black-c: #252326;
$red-a: #d63837;
$red-b: #9d111a;
$red-c: #c00702;
$red-d: #d63837;
$grey-a: #dbd5d5;
$grey-b: #9f9a96;
$grey-c: #9a989b;
$light-a: #f2f0f3;
$light-b: #c0cddc;
$link-c: #657b8d;

/*//New Comments*/

.page-container{

	background-color: $black-a;
	color: $black-c;
	border-top: solid 4px $grey-c;
	
}








/* Custom Junk CSS For POC 23-07-15 */

.page-header.navbar.navbar-fixed-top {background-color:#0e0c0f;}
.page-sidebar{background-color: #252326;}
.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-container {background-color: #f2f0f3;}
/*.page-sidebar-menu li.start.active a, .page-sidebar-menu li.start.active a  {border-left: 5px solid #F3565D !important; border-right: none;}*/
ul.page-sidebar-menu li.start.active a span.title {color: #f2f0f3;}

ul.page-sidebar-menu li.start.active a{color: #191816;}
ul.page-sidebar-menu li a i {color: #657b8d;}
.page-sidebar-menu li a span.title {color: #657b8d;}
.page-actions div.btn-group button.btn.red-haze.btn-sm.dropdown-toggle{background-color: #9d111a;}
.page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-footer{max-height: 33px; background-color:#0E0C0F;}
html.no-js body.page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-footer div.page-footer-inner{color: #c0cddc; font-size: 12px;}
#header_notification_bar.dropdown.dropdown-extended.dropdown-notification.dropdown-dark a.dropdown-toggle span.badge.badge-success{background-color: #9D111A;}
#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox.dropdown-dark a.dropdown-toggle span.badge.badge-danger{background-color: #9D111A;}
#header_task_bar.dropdown.dropdown-extended.dropdown-tasks.dropdown-dark a.dropdown-toggle span.badge.badge-primary{background-color: #9D111A;}
.dropdown.dropdown-extended.quick-sidebar-toggler{list-style: none;}
.page-sidebar-closed-hide-logo div.page-header.navbar.navbar-fixed-top div.page-header-inner div.page-top div.top-menu ul.nav.navbar-nav.pull-right li.dropdown.dropdown-user.dropdown-dark a.dropdown-toggle span.username.username-hide-on-mobile{color: #fff;}
html.no-js body.page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-container div.page-content-wrapper div.page-content div.page-head div.portlet.light div.page-title li.dropdown.dropdown-extended.quick-sidebar-toggler i#new-trigger.icon-logout{font-size: 30px;}
i#new-trigger.icon-logout.new-trigger{float: right; margin-bottom: 2%; font-size: 30px; color: #9d111a; padding-top: 35%;}
.nav.navbar-nav.pull-right li a i#new-trigger.icon-logout.new-trigger, .new-trigger a:hover{background-color:#0E0C0F;}
.nav.navbar-nav.pull-right li a:hover, .nav.navbar-nav.pull-right li a {background-color:#0E0C0F;}

div.page-quick-sidebar-wrapper{background-color: #FFFFFF; border-radius: 4px; height: 86vh;}

.page-quick-sidebar-wrapper div.page-quick-sidebar div.nav-justified ul.nav.nav-tabs.nav-justified{background-color: #0E0C0F;}

.nav.nav-tabs.nav-justified li.active a span.badge.badge-danger{background-color: #9D111A;}
.nav.nav-tabs.nav-justified li a span.badge.badge-success{background-color: #9D111A;}
div.page-quick-sidebar-wrapper{margin-top: 92px; -webkit-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.75);-moz-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.75);box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.75);}
.page-actions div.btn-group button.btn.red-haze.btn-sm.dropdown-toggle{margin-top: 10px;}
#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox.dropdown-dark a.dropdown-toggle{background-color: #0E0C0F;}
#header_notification_bar.dropdown.dropdown-extended.dropdown-notification.dropdown-dark a.dropdown-toggle:hover{background-color: #0E0C0F;}
#header_task_bar.dropdown.dropdown-extended.dropdown-tasks.dropdown-dark a.dropdown-toggle {background-color: #0E0C0F;}
.page-header-inner div.page-top div.top-menu ul.nav.navbar-nav.pull-right li.dropdown.dropdown-user.dropdown-dark a.dropdown-toggle{background-color: #0E0C0F;}
.form-sect-title{font-weight: normal; text-transform: uppercase;}
div.page-logo a h1:hover{text-decoration: none;}
.page-sidebar-closed-hide-logo div.page-container{height: 88vh;}

.page-sidebar-closed-hide-logo div.page-container div.page-content-wrapper div.page-content div.portlet.light{height:82vh;}
.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-container div.page-content-wrapper div.page-content{padding-top: 0px;}
html.no-js body.page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo div.page-container{padding-top: 38px;}


.page-quick-sidebar div.nav-justified ul.nav.nav-tabs.nav-justified li.active a, .nav.nav-tabs.nav-justified li.active a:hover{color: #fff;}

.page-quick-sidebar div.nav-justified ul.nav.nav-tabs.nav-justified li a:hover{color:#fff;}
.portlet.light div.portlet-title h3.form-sect-title{color: #333333;}

ul.page-sidebar-menu li a span.title{color: #c0cddc;}

ul.page-sidebar-menu li a i{color: #c0cddc;}
ul.page-sidebar-menu li.start.active a{margin-left: 0px;}


ul.page-sidebar-menu li.start.active a{background-color: #252326;}
ul.page-sidebar-menu li.start.active a span.title{color: #fff;}

.page-sidebar-menu li.start.active a i:active{color: #F3565D;}
 ul.page-sidebar-menu li.start.active a i.icon-home{color: #F3565D;}
.portlet.light div.tabbable-custom.nav-justified ul.nav.nav-tabs.nav-justified li a{color:#333;}

.page-header.navbar.navbar-fixed-top div.page-header-inner div.page-actions{margin: 14px 0 15px 20px;}


.page-sidebar .page-sidebar-menu > li:hover > a {background-color: #000 !important; color: #ffffff !important;}
.page-sidebar .page-sidebar-menu > li:active > a {background-color: #0E0C0F !important;}
.page-sidebar-menu li:hover a span.title{color: #ffffff !important;}
.page-sidebar .page-sidebar-menu > li.open > a {background-color: #0E0C0F; color: #fff; border-left: 5px solid #F3565D !important;}
 ul.page-sidebar-menu li.start.active a{border-left: none;}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {border-left: none;}
.page-tools{margin: 14px 0 15px 20px; float: left;}
.page-sidebar{width: 160px;}
.page-content-wrapper .page-content{margin-left: 160px;}

